.sortBlock {
    background-color: var(--white);
    padding: 11px 20px;
    border-radius: 7px;
    margin: 0 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sortingCont {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.penImage {
    width: 10px;
    height: 10px;
    display: inline;
    margin-right: 6px;
}
.sortText {
    color: var(--orange);
    font-family: "Roboto", sans;
}
@media all and (min-width: 1024px) {
    .sortBlock {
        background-color: transparent;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
    .sortText {
        font-size: 20px;
        line-height: 23.44px;
        font-weight: 400;
        margin-right: 3px;
    }
    .penImage {
        width: 14px;
        height: 16px;
    }
}
