.authorBar {
    display: flex;
}
.authorBar img {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}
.authorName {
    font-family: "Roboto", sans;
    font-weight: 400;
    font-size: 10px;
    line-height: 11.72px;
    color: var(--orange);
    margin-right: 3px;
}
.authorName:hover {
    cursor: pointer;
    text-decoration: underline;
}
.timeText {
    line-height: 11.72px;
    font-weight: 400;
    font-family: "Roboto", sans;
    font-size: 10px;
    color: var(--grey99);
}
.timeText span {
    line-height: 11.72px;
    font-weight: 400;
    font-family: "Roboto", sans;
    font-size: 10px;
    color: var(--grey99);
    display: none;
}
@media all and (min-width: 1024px) {
    .authorBar {
        align-items: center;
    }
    .timeText {
        order: 1;
        font-size: 14px;
        line-height: 16.41px;
        margin-right: 5px;
    }
    .timeText span {
        display: inline;
        font-size: 14px;
        line-height: 16.41px;
    }
    .authorBar img {
        order: 2;
    }
    .authorName {
        order: 3;
        line-height: 16.41px;
        font-size: 14px;
    }
}
