button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.card {
    border: 1px solid var(--white);
    position: relative;
    background-color: var(--white);
    border-radius: 7px;
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}
.card:hover {
    border: 1px solid var(--greyD9);
}
.card > * {
    flex: 1 1 100%;
}
.card > * + * {
    padding: 0 0 0;
}
.card:hover h2 a,
.card:focus-within h2 a {
    color: var(--orange);
}

@media all and (min-width: 1024px) {
    .card {
        display: flex;
        background-color: transparent;
        flex-flow: row nowrap;
        padding: 21px 37px 20px 40px;
        border-radius: 0;
    }
    .card > * {
        flex: 1;
    }
    .card > * + * {
        padding: 0;
    }
}

@media all and (min-width: 1540px) {
    /* .card {
        max-height: 147px;
        cursor: pointer;
        margin: 60px 57px 60px 60px;
    }
    .card:hover,
    .card:focus-within {
        outline: 1px solid var(--grey-demi-dark);
    } */
}
