.searchBlock {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background-color: var(--white);
    border-radius: 0 0 7px 7px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 0 38px;
}
.profileCont {
    align-items: center;
    display: flex;
}
.profileImg {
    width: 30px;
    height: 30px;
    display: inline-block;
}
.profileCont span {
    cursor: pointer;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    align-items: center;
    border: 1px solid transparent;
    height: 42px;
}
.profileCont span:hover {
    border: 1px solid var(--orange);
    border-radius: 50%;
    padding: 5px;
}
.profileNick {
    display: none;
}
.searchCont {
    flex: 1;
    margin: 0 14px 0 9px;
    background-color: var(--grayF4);
    border-radius: 30px;
    height: 30px;
    align-items: center;
    display: flex;
}
.searchImg {
    width: 11px;
    height: 11px;
    color: var(--greyC4);
    margin: 0 4px 0 16px;
}
.searchInput {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    font-family: "Roboto", sans;
}
.searchInput::placeholder {
    color: var(--greyC4);
    font-family: "Roboto", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
}
.notificationsCont {
    /* width: 30px; */
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.notificationImg {
    width: 12.77px;
    height: 12.77px;
    color: var(--white);
    font-weight: 500;
    font-size: 9px;
    line-height: 10.55px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 4.47px;
}
.notificationsCont svg {
    fill: var(--greyD9);
}
.notificationsCont svg:hover {
    cursor: pointer;
    fill: var(--orange);
}
@media all and (min-width: 1024px) {
    .searchBlock {
        padding: 0;
        margin: 0 0 0 auto;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        order: 3;
        flex-direction: row-reverse;
    }
    .searchCont {
        background-color: var(--white);
        filter: drop-shadow(0px 0px 20px #0000001a);
        height: 50px;
        width: 280px;
    }
    .profileNick {
        display: inline-block;
        color: var(--orange);
        font-weight: 500;
        font-size: 20px;
        line-height: 23.44px;
        font-family: "Roboto", sans;
        margin-left: 13px;
    }
    .profileImg {
        width: 50px;
        height: 50px;
    }
    .notificationsCont svg {
        width: 20px;
        height: 16px;
    }
    .notificationImg {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 7px;
        font-size: 14px;
        line-height: 16.41px;
    }
    .profileCont span {
        height: 62px;
    }
    .searchImg {
        width: 18.54px;
        height: 19px;
    }
    .searchInput::placeholder {
        font-size: 1.25em;
        line-height: 1.465em;
    }
    .searchInput {
        line-height: 1.465em;
        font-size: 1.25em;
    }
    .searchImg {
        margin-right: 9.76px;
    }
}
@media all and (min-width: 1540px) {
    .profileNick {
        color: var(--black);
    }
}
