.preview {
    height: 178px;
    margin: 0;
}

.previewImg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media all and (min-width: 1024px) {
    .preview {
        display: flex;
        width: 190px;
        height: 107px;
        flex: none;
        margin: 0 20px 0 0;
    }
    .previewImg {
        flex-basis: 190px;
        order: 1;
        margin: 0;
        border-radius: 3px;
    }
}
