.menuBar {
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carmaCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carmaCont svg:nth-child(1) {
    width: 19px;
    height: 10px;
    fill: var(--greyD9);
    cursor: pointer;
}
.carmaCont svg:nth-child(1):hover {
    fill: var(--green);
}
.carmaCont svg:nth-child(3) {
    width: 19px;
    height: 10px;
    fill: var(--greyD9);
    cursor: pointer;
    transform: rotate(180deg);
}
.carmaCont svg:nth-child(3):hover {
    fill: #cc3361;
}
.carmaCont h1 {
    font-family: "Roboto", sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
    color: var(--greyC4);
    margin: 0 4px 0 4px;
}
.commCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.commCont span {
    width: 14.17px;
    height: 14.17px;
}
.commCont h1 {
    font-family: "Roboto", sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
    color: var(--greyC4);
    margin-left: 5.83px;
}
.btnCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnCont span {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.btnCont span:nth-child(1) {
    margin-right: 15px;
}
@media (min-width: 1024px) {
    .menuBar {
        order: 4;
        flex: none;
        padding: 0;
    }
    .commCont {
        display: none;
    }
    .btnCont {
        display: none;
    }
    .carmaCont {
        flex-direction: column;
    }
    .carmaCont h1 {
        margin: 7px 0 7px 0;
        color: var(--black);
        font-weight: 400;
        line-height: 16.41px;
        font-size: 14px;
    }
}
