@media all and (min-width: 1024px) {
    .header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 40px 40px 0px 40px;
        margin-bottom: 31px;
    }
}

@media all and (min-width: 1540px) {
    .header {
        padding: 68px 0 0 0;
    }
}
