.menuBtnCont {
    position: absolute;
    top: 17px;
    right: 14px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuBtnCont:hover {
    width: 31px;
    height: 31px;
    background-color: #3333331a;
    cursor: pointer;
}
.menuBtn {
    width: 20px;
    height: 5px;
    min-height: 5px;
    background-repeat: no-repeat;
    display: flex;
}
@media all and (min-width: 1024px) {
    .menuBtnCont {
        position: static;
        order: 3;
        flex: none;
        align-self: center;
        margin-right: 24px;
    }
}
