.cardHeader {
    padding: 22px 20px 0 20px;
    display: flex;
    flex-direction: column;
}
.cardHeader > h1 {
    color: var(--black);
    font-size: 16px;
    line-height: 18.75px;
    font-family: "Roboto", serif;
    margin: 7px 0 13px 0;
    line-height: 18.75px;
    font-weight: 400;
    cursor: pointer;
}
.cardHeader > h1:hover {
    color: var(--orange);
}
@media (min-width: 1024px) {
    .cardHeader {
        order: 2;
        flex: 1;
        padding: 0;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .cardHeader > h1 {
        margin: 0 0 10px 0;
        font-size: 20px;
        line-height: 23.44px;
    }
}
